@media screen and (max-width: 1024px) {
  .nav .sub-nav .nav__content .nav__menu ul {
    padding: 10px;
  }
  .nav .sub-nav .nav__content .nav__menu ul li {
    padding: 2px 20px;
  }
  .nav .sub-nav .nav__buttons button {
    width: 130px;
    margin-left: 20px;
  }
}
@media screen and (max-width: 768px) {
  .nav {
    display: none;
  }
  .mobile {
    display: flex;
  }
}