@media screen and (max-width: 1024px) {
  .nav .sub-nav .nav__content .nav__menu ul {
    padding: 10px;
  }
  .nav .sub-nav .nav__content .nav__menu ul li {
    padding: 2px 20px;
  }
  .nav .sub-nav .nav__buttons button {
    width: 130px;
    margin-left: 20px;
  }
  .about-us-banner .sub-about-us-container .content {
    padding: 0;
  }
  .features-section .sub-features-section .box-container .box {
    margin-left: 1.8em;
    width: calc(20% + 1em);
  }
  .reach-us .sub-reach-us .form__map__holder {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .nav {
    display: none;
  }
  .mobile {
    display: flex;
  }
  .about-us-banner .sub-about-us-container {
    padding: 0;
  }
  .about-us-banner .sub-about-us-container h1 {
    margin-top: 80px;
  }
  .about-us-banner .sub-about-us-container .content {
    flex-direction: column;
  }
  .about-us-banner .sub-about-us-container .content .image {
    width: 100%;
    margin-top: 4em;
  }
  .about-us-banner .sub-about-us-container .content .text {
    width: 80%;
    margin-bottom: 80px;
  }
  .about-us-banner .sub-about-us-container .content .text h3 {
    font-size: 20px;
  }
  .about-us-banner .sub-about-us-container .content .text p {
    font-size: 16px;
  }
  .about-us-banner .sub-about-us-container .content button {
    width: 130px;
  }
  .features-section {
    height: max-content;
  }
  .features-section .sub-features-section h1 {
    margin-top: 3em;
  }
  .features-section .sub-features-section .box-container .box {
    margin-left: auto;
    margin-right: auto;
    width: calc(80% + 1em);
  }
  .reach-us {
    height: max-content;
  }
  .reach-us .sub-reach-us .form__map__holder {
    flex-direction: column;
  }
  .reach-us .sub-reach-us .form__map__holder .map-holder {
    width: 100%;
  }
  .reach-us .sub-reach-us .form__map__holder .form {
    width: 100%;
    margin-bottom: 2em;
  }
  .reach-us .sub-reach-us .form__map__holder .form .form-H {
    width: 100%;
  }
  .reach-us .sub-reach-us .form__map__holder .form .form-H input {
    width: 100%;
  }
  .reach-us .sub-reach-us .form__map__holder .form .form-H textarea {
    width: 100%;
  }
}
@media (max-width: 991px) {
  #home {
    padding: 0 3%;
    padding-top: 7.5rem;
    padding-bottom: 2rem;
  }
}
@media (max-width: 768px) {
  .home {
    flex-flow: column-reverse;
  }
  .home .image img {
    width: 100%;
  }
  .home .content h3 {
    font-size: 3.6rem;
  }
  .home .content p {
    font-size: 1.5rem;
  }
}