body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #FAFA33;
  z-index: 99999;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 30px;
  height: 3px;
  background-color: #FAFA33;
  z-index: 99999;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--elastic-r .hamburger-inner {
  top: 2px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic-r .hamburger-inner::before {
  top: 10px;
}

.hamburger--elastic-r .hamburger-inner::after {
  top: 20px;
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic-r.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(-135deg);
  transition-delay: 0.075s;
}

.hamburger--elastic-r.is-active .hamburger-inner::before {
  transition-delay: 0s;
  opacity: 0;
}

.hamburger--elastic-r.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(270deg);
  transition-delay: 0.075s;
}

.nav, .mobile-nav {
  width: 100%;
  height: 70px;
  background-color: #000080;
  position: fixed;
  display: flex;
  transition: 0.5s ease;
  z-index: 99;
}
.nav .nav__logo, .mobile-nav .nav__logo, .mobile-nav .mobile-nav__logo {
  font-size: 24px;
  color: #FAFA33;
  padding-left: 25px;
  display: flex;
  align-items: center;
}
.nav .sub-nav, .mobile-nav .sub-nav {
  width: 100%;
  display: flex;
}
.nav .sub-nav .nav__content, .mobile-nav .sub-nav .nav__content {
  width: 45%;
  height: 100%;
  display: flex;
  align-items: center;
}
.nav .sub-nav .nav__content .nav__menu, .mobile-nav .sub-nav .nav__content .nav__menu {
  width: 70%;
}
.nav .sub-nav .nav__content .nav__menu ul, .mobile-nav .sub-nav .nav__content .nav__menu ul {
  display: flex;
}
.nav .sub-nav .nav__content .nav__menu ul li, .mobile-nav .sub-nav .nav__content .nav__menu ul li {
  padding: 2px 20px;
  list-style-type: none;
}
.nav .sub-nav .nav__content .nav__menu ul li.active, .mobile-nav .sub-nav .nav__content .nav__menu ul li.active {
  font-weight: 700;
  color: #FAFA33;
}
.nav .sub-nav .nav__content .nav__menu ul li a, .mobile-nav .sub-nav .nav__content .nav__menu ul li a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}
.nav .sub-nav .nav__buttons, .mobile-nav .sub-nav .nav__buttons {
  height: 100%;
  margin-left: auto;
  padding-right: 25px;
  display: flex;
  align-items: center;
}
.nav .sub-nav .nav__buttons button, .mobile-nav .sub-nav .nav__buttons button {
  border: none;
  outline: none;
  background: none;
  width: 148px;
  height: 48px;
  cursor: pointer;
  background-color: #0000b3;
  margin-left: 35px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav .sub-nav .nav__buttons button a, .mobile-nav .sub-nav .nav__buttons button a {
  font-size: 16px;
  color: white;
  text-decoration: none;
}
.nav .sub-nav .nav__buttons button a i, .mobile-nav .sub-nav .nav__buttons button a i {
  padding-right: 5px;
  font-size: 18px;
  color: #FAFA33;
}
.nav .sub-nav .nav__buttons button:hover, .mobile-nav .sub-nav .nav__buttons button:hover {
  background-color: #0000b3;
  transition: 0.3s ease;
  transform: scale(99%);
}
.nav .sub-nav .nav__buttons button:active, .mobile-nav .sub-nav .nav__buttons button:active {
  background-color: #0000e6;
  transition: 0.3s ease;
  transform: scale(98%);
}

.mobile {
  display: none;
  width: 100%;
}

.mobile-nav {
  align-items: center;
  z-index: 99999;
}
.mobile-nav .hamburger {
  display: flex;
  width: max-content;
  height: max-content;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: 25px;
  border-radius: 5px;
  cursor: pointer;
}

.mobile-listed-items-container {
  transition: 0.5s ease;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 99;
  background-color: #000076;
  transform: translateX(-100%);
}
.mobile-listed-items-container.toggle-nav {
  position: fixed;
  transform: translateX(0%);
}
.mobile-listed-items-container .mobile-sub__nav {
  width: 100%;
  height: 100%;
  padding: 110px 0px 0px 0px;
}
.mobile-listed-items-container .mobile-sub__nav .nav__menu {
  width: 100%;
  height: max-content;
}
.mobile-listed-items-container .mobile-sub__nav .nav__menu ul li {
  list-style-type: none;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.mobile-listed-items-container .mobile-sub__nav .nav__menu ul li a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}
.mobile-listed-items-container .mobile-sub__nav .mobile-nav__buttons {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mobile-listed-items-container .mobile-sub__nav .mobile-nav__buttons button {
  border: none;
  outline: none;
  background: none;
  width: 148px;
  height: 48px;
  cursor: pointer;
  margin-left: 35px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  padding: 10px;
}
.mobile-listed-items-container .mobile-sub__nav .mobile-nav__buttons button a {
  font-size: 16px;
  color: white;
  text-decoration: none;
}
.mobile-listed-items-container .mobile-sub__nav .mobile-nav__buttons button a i {
  padding-right: 5px;
  font-size: 18px;
  color: #FAFA33;
}
.mobile-listed-items-container .mobile-sub__nav .mobile-nav__buttons button:active {
  background-color: #0000e6;
  transition: 0.3s ease;
  transform: scale(98%);
}

.home-banner-container {
  position: relative;
  width: 100%;
  height: 100vh;
}
.home-banner-container .sub-home-banner-container {
  width: 100%;
  height: 88%;
  position: absolute;
  top: 80px;
  display: flex;
}
.home-banner-container .sub-home-banner-container .banner-img {
  width: 600px;
  height: 580px;
  background-image: url(../images/banner.PNG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  margin-left: 2.5em;
}
.home-banner-container .sub-home-banner-container .banner-text {
  width: 42%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 8em;
}
.home-banner-container .sub-home-banner-container .banner-text .ml10 {
  margin-left: 10px;
  color: #000080;
  font-weight: 700;
  font-size: 20px;
}
.home-banner-container .sub-home-banner-container .banner-text .ml10 .letter {
  display: inline-block;
  line-height: 1em;
  transform-origin: 0 0;
}
.home-banner-container .sub-home-banner-container .banner-text .mll1 {
  margin: 0;
  margin-left: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-transform: uppercase;
  line-height: 1.3;
  font-size: 40px;
  color: #000080;
}
.home-banner-container .sub-home-banner-container .banner-text .btn-holder {
  margin-left: 10px;
}
.home-banner-container .sub-home-banner-container .banner-text .btn-holder button {
  border: none;
  outline: none;
  background: none;
  width: 148px;
  height: 48px;
  cursor: pointer;
  background: transparent;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000080;
  background-color: #0000b3;
}
.home-banner-container .sub-home-banner-container .banner-text .btn-holder button a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
}
.home-banner-container .sub-home-banner-container .banner-text .btn-holder button:hover {
  background-color: #0000b3;
  transition: 0.3s ease;
  transform: scale(99%);
}
.home-banner-container .sub-home-banner-container .banner-text .btn-holder button:active {
  background-color: #0000e6;
  transition: 0.3s ease;
  transform: scale(98%);
}
.home-banner-container .sign__up__form__container-overlay {
  width: 100%;
  height: 90%;
  position: fixed;
  top: 69px;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.home-banner-container .sign__up__form__container-overlay.show {
  display: flex;
}
.home-banner-container .sign__up__form__container-overlay.hide {
  display: none;
}
.home-banner-container .sign__up__form__container-overlay .sub-sign__up__form__container {
  position: relative;
  width: 50%;
  height: 60%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
}
.home-banner-container .sign__up__form__container-overlay .sub-sign__up__form__container .close {
  position: absolute;
  top: -5px;
  right: 0%;
}
.home-banner-container .sign__up__form__container-overlay .sub-sign__up__form__container .close i {
  padding: 0.5em;
  font-size: 30px;
  color: #000080;
  cursor: pointer;
}
.home-banner-container .sign__up__form__container-overlay .sub-sign__up__form__container h1 {
  font-size: 24px;
  font-weight: 700;
  color: #000080;
  text-transform: uppercase;
  text-align: center;
}
.home-banner-container .sign__up__form__container-overlay .sub-sign__up__form__container .form-cont {
  width: 100%;
  height: max-content;
  display: flex;
}
.home-banner-container .sign__up__form__container-overlay .sub-sign__up__form__container .form-cont .form-X:nth-child(1) {
  margin-right: 2em;
}
.home-banner-container .sign__up__form__container-overlay .sub-sign__up__form__container .form-cont .form-X label {
  font-size: 16px;
  color: #000080;
  text-transform: capitalize;
  font-weight: bold;
}
.home-banner-container .sign__up__form__container-overlay .sub-sign__up__form__container .form-cont .form-X input {
  width: 200px;
  height: 35px;
  margin-top: 10px;
  border-radius: 5px;
  border: 2px solid #BCE0FD;
  background-color: #F1F9FF;
  padding-left: 5px;
  font-size: 16px;
  outline: none;
  transition: 0.3s ease;
}
.home-banner-container .sign__up__form__container-overlay .sub-sign__up__form__container .form-cont .form-X input:active {
  border: 2px solid #8ac9fc;
  transition: 0.3s ease;
}
.home-banner-container .sign__up__form__container-overlay .sub-sign__up__form__container .btn-container {
  width: 100%;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3em;
}
.home-banner-container .sign__up__form__container-overlay .sub-sign__up__form__container .btn-container button {
  border: none;
  outline: none;
  background: none;
  width: 130px;
  height: 40px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #0000b3;
  margin-left: 35px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-banner-container .sign__up__form__container-overlay .sub-sign__up__form__container .btn-container button a {
  font-size: 16px;
  color: white;
  text-decoration: none;
}
.home-banner-container .sign__up__form__container-overlay .sub-sign__up__form__container .btn-container button a i {
  padding-right: 5px;
  font-size: 18px;
  color: #FAFA33;
}
.home-banner-container .sign__up__form__container-overlay .sub-sign__up__form__container .btn-container button:hover {
  background-color: #0000b3;
  transition: 0.3s ease;
  transform: scale(99%);
}
.home-banner-container .sign__up__form__container-overlay .sub-sign__up__form__container .btn-container button:active {
  background-color: #0000e6;
  transition: 0.3s ease;
  transform: scale(98%);
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}