@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #FAFA33;
  z-index: 99999;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 30px;
  height: 3px;
  background-color: #FAFA33;
  z-index: 99999;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--3dx .hamburger-box {
  perspective: 80px;
}

.hamburger--3dx .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dx .hamburger-inner::before, .hamburger--3dx .hamburger-inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dx.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateY(180deg);
}

.hamburger--3dx.is-active .hamburger-inner::before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--3dx.is-active .hamburger-inner::after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

.nav, .mobile-nav {
  width: 100%;
  height: 70px;
  background-color: #000080;
  position: fixed;
  display: flex;
  transition: 0.5s ease;
  z-index: 99;
}
.nav.sticky, .sticky.mobile-nav {
  background-color: #00004d;
}
.nav .nav__logo, .mobile-nav .nav__logo, .mobile-nav .mobile-nav__logo {
  font-size: 24px;
  color: #FAFA33;
  padding-left: 25px;
  display: flex;
  align-items: center;
}
.nav .sub-nav, .mobile-nav .sub-nav {
  width: 100%;
  display: flex;
}
.nav .sub-nav .nav__content, .mobile-nav .sub-nav .nav__content {
  width: 45%;
  height: 100%;
  display: flex;
  align-items: center;
}
.nav .sub-nav .nav__content .nav__menu, .mobile-nav .sub-nav .nav__content .nav__menu {
  width: 70%;
}
.nav .sub-nav .nav__content .nav__menu ul, .mobile-nav .sub-nav .nav__content .nav__menu ul {
  display: flex;
}
.nav .sub-nav .nav__content .nav__menu ul li, .mobile-nav .sub-nav .nav__content .nav__menu ul li {
  padding: 2px 20px;
  list-style-type: none;
}
.nav .sub-nav .nav__content .nav__menu ul li.active, .mobile-nav .sub-nav .nav__content .nav__menu ul li.active {
  font-weight: 700;
  color: #FAFA33;
}
.nav .sub-nav .nav__content .nav__menu ul li a, .mobile-nav .sub-nav .nav__content .nav__menu ul li a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}
.nav .sub-nav .nav__buttons, .mobile-nav .sub-nav .nav__buttons {
  height: 100%;
  margin-left: auto;
  padding-right: 25px;
  display: flex;
  align-items: center;
}
.nav .sub-nav .nav__buttons button, .mobile-nav .sub-nav .nav__buttons button {
  border: none;
  outline: none;
  background: none;
  width: 148px;
  height: 48px;
  cursor: pointer;
  background-color: #0000b3;
  margin-left: 35px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav .sub-nav .nav__buttons button a, .mobile-nav .sub-nav .nav__buttons button a {
  font-size: 16px;
  color: white;
  text-decoration: none;
}
.nav .sub-nav .nav__buttons button a i, .mobile-nav .sub-nav .nav__buttons button a i {
  padding-right: 5px;
  font-size: 18px;
  color: #FAFA33;
}
.nav .sub-nav .nav__buttons button:hover, .mobile-nav .sub-nav .nav__buttons button:hover {
  background-color: #0000b3;
  transition: 0.3s ease;
  transform: scale(99%);
}
.nav .sub-nav .nav__buttons button:active, .mobile-nav .sub-nav .nav__buttons button:active {
  background-color: #0000e6;
  transition: 0.3s ease;
  transform: scale(98%);
}

.mobile {
  display: none;
  width: 100%;
}

.mobile-nav {
  align-items: center;
  z-index: 99999;
}
.mobile-nav.sticky {
  background-color: #00004d;
}
.mobile-nav .hamburger {
  display: flex;
  width: max-content;
  height: max-content;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: 25px;
  border-radius: 5px;
  cursor: pointer;
}

.mobile-listed-items-container {
  transition: 0.5s ease;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 99;
  background-color: #000076;
  transform: translateX(-100%);
}
.mobile-listed-items-container.toggle-nav {
  position: fixed;
  transform: translateX(0%);
}
.mobile-listed-items-container .mobile-sub__nav {
  width: 100%;
  height: 100%;
  padding: 110px 0px 0px 0px;
}
.mobile-listed-items-container .mobile-sub__nav .nav__menu {
  width: 100%;
  height: max-content;
}
.mobile-listed-items-container .mobile-sub__nav .nav__menu ul li {
  list-style-type: none;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.mobile-listed-items-container .mobile-sub__nav .nav__menu ul li a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}
.mobile-listed-items-container .mobile-sub__nav .mobile-nav__buttons {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mobile-listed-items-container .mobile-sub__nav .mobile-nav__buttons button {
  border: none;
  outline: none;
  background: none;
  width: 148px;
  height: 48px;
  cursor: pointer;
  margin-left: 35px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  padding: 10px;
}
.mobile-listed-items-container .mobile-sub__nav .mobile-nav__buttons button a {
  font-size: 16px;
  color: white;
  text-decoration: none;
}
.mobile-listed-items-container .mobile-sub__nav .mobile-nav__buttons button a i {
  padding-right: 5px;
  font-size: 18px;
  color: #FAFA33;
}
.mobile-listed-items-container .mobile-sub__nav .mobile-nav__buttons button:active {
  background-color: #0000e6;
  transition: 0.3s ease;
  transform: scale(98%);
}

.home-banner-container {
  position: relative;
  height: 100vh;
  padding: 4rem 6rem;
}
@media screen and (max-width: 425px) {
  .home-banner-container {
    padding: 0;
  }
}
.home-banner-container .sub-home-banner-container {
  min-height: 100vh;
  position: absolute;
  top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-banner-container .sub-home-banner-container .banner-img img {
  height: auto;
  max-width: 100%;
  display: block;
  vertical-align: middle;
}
.home-banner-container .sub-home-banner-container .banner-text {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1 1;
  align-items: flex-start;
}
.home-banner-container .sub-home-banner-container .banner-text .ml10 {
  color: #000080;
  font-weight: 700;
  font-size: 23px;
  line-height: 30px;
}
@media screen and (max-width: 425px) {
  .home-banner-container .sub-home-banner-container .banner-text .ml10 {
    font-size: 15px;
  }
}
.home-banner-container .sub-home-banner-container .banner-text .ml10 .letter {
  display: inline-block;
  line-height: 1em;
  transform-origin: 0 0;
}
.home-banner-container .sub-home-banner-container .banner-text .mll1 {
  margin: 0;
  text-transform: uppercase;
  line-height: 56px;
  font-size: 45px;
  color: #000080;
}
@media screen and (max-width: 425px) {
  .home-banner-container .sub-home-banner-container .banner-text .mll1 {
    font-size: 25px;
  }
}
.home-banner-container .sub-home-banner-container .banner-text p {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.04em;
  line-height: 28px;
  margin: 1rem 0px;
  text-transform: capitalize;
}
.home-banner-container .sub-home-banner-container .banner-text .btn-holder button {
  border: none;
  outline: none;
  background: none;
  width: 148px;
  height: 48px;
  cursor: pointer;
  background: transparent;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000080;
  background-color: #0000b3;
}
.home-banner-container .sub-home-banner-container .banner-text .btn-holder button a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
}
.home-banner-container .sub-home-banner-container .banner-text .btn-holder button:hover {
  background-color: #0000b3;
  transition: 0.3s ease;
  transform: scale(99%);
}
.home-banner-container .sub-home-banner-container .banner-text .btn-holder button:active {
  background-color: #0000e6;
  transition: 0.3s ease;
  transform: scale(98%);
}

.about-us-banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../images/tourists-go-up-hill-sunrise.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.about-us-banner::before {
  content: "";
  position: absolute;
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
}
.about-us-banner .sub-about-us-container {
  width: 100%;
  height: 100%;
  position: absolute;
  padding-top: 5em;
}
.about-us-banner .sub-about-us-container h1 {
  font-size: 24px;
  color: #000080;
  text-transform: uppercase;
  margin-left: 1em;
  margin-bottom: 1em;
}
.about-us-banner .sub-about-us-container .text1 {
  width: 40%;
  margin-left: 1em;
}
.about-us-banner .sub-about-us-container .text1 p {
  font-size: 16px;
  line-height: 2;
  text-align: justify;
  color: #000080;
  color: black;
}
.about-us-banner .sub-about-us-container .text2 {
  width: 40%;
  position: absolute;
  right: 2%;
  bottom: 12%;
}
.about-us-banner .sub-about-us-container .text2 p {
  font-size: 16px;
  line-height: 2;
  text-align: justify;
  color: #000080;
  color: black;
}

.features-section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding-top: 1em;
}
.features-section .sub-features-section {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.features-section .sub-features-section h1 {
  text-align: center;
  font-size: 24px;
  color: #000080;
  text-transform: uppercase;
  margin-top: 1em;
  margin-bottom: 2em;
}
.features-section .sub-features-section .box-container {
  width: 100%;
  height: max-content;
  display: flex;
  flex-wrap: wrap;
}
.features-section .sub-features-section .box-container .box {
  position: relative;
  margin-left: 2em;
  margin-bottom: 55px;
  margin-top: 55px;
  width: calc(20% + 2em);
  height: 20em;
  background-color: #F1F9FF;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.3;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}
.features-section .sub-features-section .box-container .box::before {
  content: "";
  position: absolute;
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.8));
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: 5px;
}
.features-section .sub-features-section .box-container .box:hover {
  transform: scale(109%);
}
.features-section .sub-features-section .box-container .box:active {
  transform: scale(99%);
}
.features-section .sub-features-section .box-container .box p {
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
  z-index: 2;
  line-height: 2;
}
.features-section .sub-features-section .box-container .box:nth-child(1) {
  background-image: url(../images/attendant-gif.gif);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.features-section .sub-features-section .box-container .box:nth-child(2) {
  background-image: url(../images/monitor-gif.gif);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.features-section .sub-features-section .box-container .box:nth-child(3) {
  background-image: url(../images/track-wellbeing.gif);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.features-section .sub-features-section .box-container .box:nth-child(4) {
  background-image: url(../images/celeberate-gif.gif);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.pricing-section {
  width: 100%;
  height: 100vh;
  background-color: #F1F9FF;
  margin-bottom: 4em;
}
.pricing-section .sub-pricing-section {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pricing-section .sub-pricing-section h1 {
  color: #BCE0FD;
  font-size: 2em;
  text-align: center;
}

.reach-us {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reach-us .sub-reach-us {
  width: 100%;
  height: max-content;
  margin-top: 8em;
}
.reach-us .sub-reach-us h1 {
  font-size: 24px;
  color: #000080;
  text-align: center;
  margin-top: 4em;
}
.reach-us .sub-reach-us .form__map__holder {
  width: 80%;
  height: max-content;
  margin: 4em auto;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
.reach-us .sub-reach-us .form__map__holder .form {
  width: 43%;
  height: max-content;
}
.reach-us .sub-reach-us .form__map__holder .form .form-H {
  width: 70%;
  height: max-content;
}
.reach-us .sub-reach-us .form__map__holder .form .form-H label {
  font-size: 16px;
  color: #000080;
  font-weight: 700;
}
.reach-us .sub-reach-us .form__map__holder .form .form-H input {
  margin-top: 10px;
  margin-bottom: 33px;
  border: none;
  background: none;
  outline: none;
  background-color: #F1F9FF;
  border: 2px solid #BCE0FD;
  height: 40px;
  width: 320px;
  border-radius: 5px;
  text-transform: capitalize;
  text-indent: 10px;
}
.reach-us .sub-reach-us .form__map__holder .form .form-H textarea {
  background: none;
  border: none;
  outline: none;
  width: 320px;
  height: 140px;
  margin-top: 10px;
  resize: none;
  border-radius: 5px;
  background-color: #F1F9FF;
  border: 2px solid #BCE0FD;
  padding: 10px;
  padding: 10px;
  font-family: "Nunito Sans", sans-serif;
}
.reach-us .sub-reach-us .form__map__holder .form .btn-container {
  margin-top: 1em;
}
.reach-us .sub-reach-us .form__map__holder .form .btn-container button {
  border: none;
  outline: none;
  background: none;
  width: 148px;
  height: 48px;
  cursor: pointer;
  background-color: #0000b3;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reach-us .sub-reach-us .form__map__holder .form .btn-container button a {
  font-size: 16px;
  color: white;
  text-decoration: none;
}
.reach-us .sub-reach-us .form__map__holder .form .btn-container button a i {
  padding-right: 5px;
  font-size: 18px;
  color: #FAFA33;
}
.reach-us .sub-reach-us .form__map__holder .form .btn-container button:active {
  background-color: #0000e6;
  transition: 0.3s ease;
  transform: scale(98%);
}
.reach-us .sub-reach-us .form__map__holder .map-holder {
  width: 381px;
  height: 565px;
  background-color: #fafafa;
  background-image: url(../images/contact.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-radius: 5px;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.cloud {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 10rem;
  background-size: 250rem 18rem;
  background: url(../images/cloud.png) repeat-x;
  animation: cloud 10s linear infinite;
}

.cloud-1 {
  opacity: 0.5;
  height: 15rem;
  background-size: 250rem 20rem;
  animation-direction: reverse;
  animation-duration: 15s;
}

@keyframes cloud {
  0% {
    background-position-x: 0rem;
  }
  100% {
    background-position-x: -250rem;
  }
}
.footer-section {
  margin-top: 8em;
  width: 100%;
  background: #EEECEB;
}
.footer-section footer {
  background: #140B5C;
  width: 100%;
  bottom: 0;
  left: 0;
}

footer .content {
  max-width: 1250px;
  margin: auto;
  padding: 30px 40px 40px 40px;
}

footer .content .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.content .top .logo-details {
  color: #FAFA33;
  font-size: 30px;
}

.content .top .media-icons {
  display: flex;
}

.content .top .media-icons a {
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
}

.top .media-icons a:nth-child(1) {
  background: #4267B2;
}

.top .media-icons a:nth-child(1):hover {
  color: #4267B2;
  background: #fff;
}

.top .media-icons a:nth-child(2) {
  background: #1DA1F2;
}

.top .media-icons a:nth-child(2):hover {
  color: #1DA1F2;
  background: #fff;
}

.top .media-icons a:nth-child(3) {
  background: #E1306C;
}

.top .media-icons a:nth-child(3):hover {
  color: #E1306C;
  background: #fff;
}

.top .media-icons a:nth-child(4) {
  background: #0077B5;
}

.top .media-icons a:nth-child(4):hover {
  color: #0077B5;
  background: #fff;
}

.top .media-icons a:nth-child(5) {
  background: #FF0000;
}

.top .media-icons a:nth-child(5):hover {
  color: #FF0000;
  background: #fff;
}

footer .content .link-boxes {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

footer .content .link-boxes .box {
  width: calc(20% - 10px);
}

.content .link-boxes .box .link_name {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}

.content .link-boxes .box li {
  margin: 6px 0;
  list-style: none;
}

.content .link-boxes .box li a {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease;
}

.content .link-boxes .box li a:hover {
  opacity: 1;
  text-decoration: underline;
}

.content .link-boxes .input-box {
  margin-right: 55px;
}

.link-boxes .input-box input {
  height: 40px;
  width: calc(100% + 55px);
  outline: none;
  background-color: #F1F9FF;
  border: 2px solid #BCE0FD;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  color: #000;
  margin-top: 5px;
}

.link-boxes .input-box input::placeholder {
  color: #AFAFB6;
  font-size: 16px;
}

.link-boxes .input-box input[type=button] {
  background-color: #0000b3;
  color: white;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
  border-radius: 5px;
  cursor: pointer;
}

.input-box input[type=button]:hover {
  opacity: 1;
}

footer .bottom-details {
  width: 100%;
  background: #0F0844;
}

footer .bottom-details .bottom_text {
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}

.bottom-details .bottom_text span,
.bottom-details .bottom_text a {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}

.bottom-details .bottom_text a:hover {
  opacity: 1;
  text-decoration: underline;
}

.bottom-details .bottom_text a {
  margin-right: 10px;
}

@media (max-width: 900px) {
  footer .content .link-boxes {
    flex-wrap: wrap;
  }
  footer .content .link-boxes .input-box {
    width: 40%;
    margin-top: 10px;
  }
}
@media (max-width: 700px) {
  footer {
    position: relative;
  }
  .content .top .logo-details {
    font-size: 26px;
  }
  .content .top .media-icons a {
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }
  footer .content .link-boxes .box {
    width: calc(33.3333333333% - 10px);
  }
  footer .content .link-boxes .input-box {
    width: 60%;
  }
  .bottom-details .bottom_text span,
.bottom-details .bottom_text a {
    font-size: 12px;
  }
}
@media (max-width: 520px) {
  footer::before {
    top: 145px;
  }
  footer .content .top {
    flex-direction: column;
  }
  .content .top .media-icons {
    margin-top: 16px;
  }
  footer .content .link-boxes .box {
    width: calc(50% - 10px);
  }
  footer .content .link-boxes .input-box {
    width: 100%;
  }
}
.scroll-to-top {
  position: relative;
}

.btn-position {
  position: fixed;
  bottom: 40px;
  right: 25px;
  z-index: 20;
}

.btn-style {
  background-color: #000080;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: #FAFA33;
  cursor: pointer;
  animation: movebtn 3s ease-in-out infinite;
  transition: all 0.5s ease-in-out;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

@keyframes movebtn {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}