
@import './color';
.hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible; 
    // display: flex;
    // align-items: center;
    // justify-content: center;
  }
  
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: $secondary-color; 
  z-index: 99999;

}
  
  .hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative; 
  }
  
  .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px; 
  }

  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
      width: 30px;
      height: 3px;
      background-color: $secondary-color;
      z-index: 99999;
      border-radius: 4px;
      position: absolute;
      transition-property: transform;
      transition-duration: 0.15s;
      transition-timing-function: ease; 
  }
    .hamburger-inner::before, .hamburger-inner::after {
      content: "";
      display: block; }
    .hamburger-inner::before {
      top: -10px; }
    .hamburger-inner::after {
      bottom: -10px; }
      .hamburger--3dx .hamburger-box {
        perspective: 80px; }
      
      .hamburger--3dx .hamburger-inner {
        transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
        .hamburger--3dx .hamburger-inner::before, .hamburger--3dx .hamburger-inner::after {
          transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
      
      .hamburger--3dx.is-active .hamburger-inner {
        background-color: transparent !important;
        transform: rotateY(180deg); }
        .hamburger--3dx.is-active .hamburger-inner::before {
          transform: translate3d(0, 10px, 0) rotate(45deg); }
        .hamburger--3dx.is-active .hamburger-inner::after {
          transform: translate3d(0, -10px, 0) rotate(-45deg); }

// .hamburger--elastic-r .hamburger-inner {
//   top: 2px;
//   transition-duration: 0.275s;
//   transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }
//   .hamburger--elastic-r .hamburger-inner::before {
//     top: 10px;
//     // transition: opacity 0.125s 0.275s ease; 
// }

// .hamburger--elastic-r .hamburger-inner::after {
//   top: 20px;
//   transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55); 
// }
   
// .hamburger--elastic-r.is-active .hamburger-inner {
//   transform: translate3d(0, 10px, 0) rotate(-135deg);
//   transition-delay: 0.075s; 
// }
//      .hamburger--elastic-r.is-active .hamburger-inner::before {
//        transition-delay: 0s;
//        opacity: 0; 
// }
// .hamburger--elastic-r.is-active .hamburger-inner::after {
//   transform: translate3d(0, -20px, 0) rotate(270deg);
//   transition-delay: 0.075s; 
// }
   