@import './color';

.scroll-to-top {
    position: relative;
}

.btn-position {
    position: fixed;
    bottom: 40px;
    right: 25px;
    z-index: 20;
}
  
.btn-style {
    background-color: $primary-color;
    border: 2px solid #fff;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    color: $secondary-color;
    cursor: pointer;
    animation: movebtn 3s ease-in-out infinite;
    transition: all 0.5s ease-in-out;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}


  @keyframes movebtn {
    0% {
      transform: translateY(0px);
    }
    25% {
      transform: translateY(20px);
    }
    50% {
      transform: translateY(0px);
    }
    75% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0px);
    }
  }