@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin marginCenter {
    margin-left: auto;
    margin-right: auto;
}

@font-face {
    font-family: IkFont;
    src: url(../fonts/ikfont.otf);
}