
// media query for desktop
@media screen and (max-width: 1280px) {
    .nav{
        // background-color: black;
    }
}

// for ipads potrait mode 
@media screen and (max-width: 1024px) {
    .nav{
        // background-color: brown;
        .sub-nav{
            .nav__content{
                .nav__menu{
                    ul{
                        padding: 10px;
                        li{
                            padding: 2px 20px;
                        }
                    }
                }
            }
        }
        .sub-nav{

            .nav__buttons{
                button{
                    width: 130px;
                    margin-left: 20px;
                }
            }
        }
    }    

    // home section
    .home-banner-container {
        .sub-home-banner-container{
            .banner-img{
                width: 500px;
            }
            .banner-text{
                width: 50%;
                margin-left: 3em;
                .mll1{
                    font-size: 30px;
                    line-height: 1.5;
                }
                .m110{
                    font-size: 18px;
                }
                .btn-holder{
                    button{
                        width: 130px;
                    }
                }
            }
        }
    }
}

 //low resolution tabelets and ipads
@media screen and (max-width: 768px) {
    .nav{
        // background-color: blue;
        display: none;
    }
    .mobile{
        display: flex;
    }

    // home section
    .home-banner-container{
        background-image: url(../images/banner.PNG);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right center;
        .overlay{
            width: 100%;
            height: 100%;
            background-color: rgba(184, 186, 178, 0.261);
        }
        .sub-home-banner-container{
            .banner-img{
                display: none;
            }

            .banner-text{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                .mll1{
                    font-size: 25px;
                }

                .ml10{
                    font-size: 18px;
                }
            }
        }
    }
}