@import './utilities';

// media query for desktop
@media screen and (max-width: 1280px) {
    .nav{
        // background-color: black;
    }
}

// for ipads potrait mode 
@media screen and (max-width: 1024px) {
    //nav
    .nav{
        // background-color: brown;
        .sub-nav{
            .nav__content{
                .nav__menu{
                    ul{
                        padding: 10px;
                        li{
                            padding: 2px 20px;
                        }
                    }
                }
            }
        }
        .sub-nav{

            .nav__buttons{
                button{
                    width: 130px;
                    margin-left: 20px;
                }
            }
        }
    }    

    //features
    .features-section{
        .sub-features-section{
            .box-container{
                .box{
                    margin-left: 1.8em;
                    width: calc(20% + 1em);
                }
            }
        }
    }

    //reach us
    .reach-us{
        .sub-reach-us{
            .form__map__holder{
                width: 80%;
            }
        }
    }
}

 //low resolution tabelets and ipads
@media screen and (max-width: 768px) {
    .nav{
        // background-color: blue;
        display: none;
    }

    .mobile{
        display: flex;
    }


    // about us 
    .about-us-banner{
        .sub-about-us-container {
            h1{
                text-align: center;
                margin: 0;
            }
            .text1{
                width: 100%;
                margin-left: 0px;
                @include flexCenter;

                p{
                    text-align: center;
                    width: 90%;
                    font-size: 15px;
                    line-height: 1.8;
                }
            }
            .text2{
                width: 100%;
                right: 0;
                @include flexCenter;
                bottom: 0;
                p{
                    text-align: center;
                    width: 90%;
                    font-size: 15px;
                    line-height: 1.8;
                }
            }
        }
    }

    //features
    .features-section{
        // margin-top: 10em;
        height: max-content;
        .sub-features-section{
            // margin-top: 18em;
            h1{
                margin-top: 3em;
            }
            .box-container{
                .box{
                    margin-left: auto;
                    margin-right: auto;
                    width: calc(80% + 1em);
                }
            }
        }
    }

    //reach us
    .reach-us{
        height: max-content;
        .sub-reach-us{
            margin-top: 1em;
            .form__map__holder{
                flex-direction: column;
                .map-holder{
                    width: 100%;
                }

                .form{
                    width: 100%;
                    margin-bottom: 2em;
                    .form-H{
                        width: 100%;

                        input{
                            width: 100%;
                        }
                        
                        textarea{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

//for the HOME Section
@media (max-width:991px){
    
    #home{
        padding:0 3%;
        padding-top: 7.5rem;
        padding-bottom: 2rem;
    }

}

@media (max-width:768px){
    .home{
        flex-flow: column-reverse;
    }

    .home .image img{
        width:100%;
    }

    .home .content h3{
        font-size: 3.6rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }
}