// importing other sub scss files
@import './defaults';
@import './color';
@import './utilities.scss';
@import './hamburger';

.nav{
    width: 100%;
    height: 70px;
    background-color: $primary-color;
    position: fixed;
    display: flex;
    transition: 0.5s ease;
    z-index: 99;
    // justify-content: space-between;
    
    .nav__logo{
        font-size: 24px;
        color: $secondary-color;
        padding-left: 25px;
        display: flex;
        align-items: center;
        // background-color: green;
    }

    .sub-nav{
        width: 100%;
        display: flex;

        .nav__content{
            width: 45%;
            height: 100%;
            // background-color: green;
            display: flex;
            align-items: center;
    
    
            .nav__menu{
                width: 70%;
    
                ul{
                    display: flex;
                    
                    li{

                        padding: 2px 20px;
                        list-style-type: none;
    
                        &.active{
                            font-weight: 700;
                            color: $secondary-color;
                        }
    
                        a{
                            color: $white;
                            font-size: 16px;
                            text-decoration: none;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    
        .nav__buttons{
            // width: 26%;
            height: 100%;
            margin-left: auto;
            padding-right: 25px;
            // background-color: rgb(19, 39, 19);
            display: flex;
            align-items: center;
    
            button{
                border: none;
                outline: none;
                background: none;
                width: 148px;
                height: 48px;
                cursor: pointer;
                background-color: lighten($color: $primary-color, $amount: 10);
                margin-left: 35px;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
    
                a{
                    font-size: 16px;
                    color: white;
                    text-decoration: none;
    
                    i{
                        padding-right: 5px;
                        font-size: 18px;
                        color: $secondary-color;
                    }
                }

                &:hover{
                    background-color: lighten($color: $primary-color, $amount: 10);
                    transition: .3s ease;
                    transform: scale(99%);
                }

                &:active{
                    background-color: lighten($color: $primary-color, $amount: 20);
                    transition: .3s ease;
                    transform: scale(98%);
                }

            }
        }
    }
}

//mobile nav
.mobile{
    display: none;
    width: 100%;
    // background-color: black
}

.mobile-nav{
    @extend .nav;
    align-items: center;
    z-index: 99999;
    // padding: 10px 0px;
    .mobile-nav__logo{
        @extend .nav__logo;
    }

    .hamburger{
        display: flex;
        width: max-content;
        height: max-content;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: 25px;
        border-radius: 5px;
        cursor: pointer;
        // color: red;
        // background-color: darken($color: $primary-color, $amount: 10);
    }
}

//mobile links
.mobile-listed-items-container{
    transition: .5s ease;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99;
    background-color: darken($color: $primary-color, $amount: 2);
    transform: translateX(-100%);
    &.toggle-nav{
        // display: block;
        transform: translateX(0)
    }

    .mobile-sub__nav{
        width: 100%;
        height: 100%;
        padding: 110px 0px 0px 0px;
        .nav__menu{
            width: 100%;
            height: max-content;
            // background-color: greenyellow;

            ul{
                li{
                    list-style-type: none;
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 1rem;
                    a{
                        color: $white;
                        font-size: 16px;
                        text-decoration: none;
                        cursor: pointer;
                    }
                }
            }
        }

        //buttons
        .mobile-nav__buttons{
            width: 100%;
            height: max-content;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            // background-color: aquamarine;s

            button{
                border: none;
                outline: none;
                background: none;
                width: 148px;
                height: 48px;
                cursor: pointer;
                // background-color: lighten($color: $primary-color, $amount: 10);
                margin-left: 35px;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 1rem;
                padding: 10px;

                a{
                    font-size: 16px;
                    color: white;
                    text-decoration: none;
    
                    i{
                        padding-right: 5px;
                        font-size: 18px;
                        color: $secondary-color;
                    }
                }
                &:active{
                    background-color: lighten($color: $primary-color, $amount: 20);
                    transition: .3s ease;
                    transform: scale(98%);
                }
            }
        }
    }
}



// Home banner section
.home-banner-container{
    position: relative;
    width: 100%;
    height: 100vh;
    // padding-top: 2em;
    // background-color: white;



    .sub-home-banner-container{
        width: 100%;
        height: 88%;
        position: absolute;
        top: 80px;
        // background-color: green;
        display: flex;
        
        .banner-img{
            width: 600px;
            height: 580px;
            background-image: url(../images/banner.PNG);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top center;
            // background-color: $primary-color;
            margin-left: 2.5em;
        }

        .banner-text{
            width: 42%;
            height: 100%;
            // background-color: $secondary-color;
            display: flex;
            align-items: center;
            margin-left: 8em;

            .ml10{
                margin-left: 10px;
                color: $primary-color;
                font-weight: 700;
                font-size: 20px;
                .letter{
                    display: inline-block;
                    line-height: 1em;
                    transform-origin: 0 0;
                }
            }

            .mll1{
                margin: 0;
                margin-left: 10px;
                margin-top: 30px;
                margin-bottom: 30px;
                text-transform: uppercase;
                line-height: 1.3;
                font-size: 40px;
                color: $primary-color;
                // font-weight: lighter;
            }

            .btn-holder{
                margin-left: 10px;
    
                button{
                    border: none;
                    outline: none;
                    background: none;
                    width: 148px;
                    height: 48px;
                    cursor: pointer;
                    background: transparent;
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid $primary-color;
                    background-color: lighten($color: $primary-color, $amount: 10);
                    // background-color: $secondary-color;
                    a{
                        font-size: 16px;
                        color: $white;
                        text-decoration: none;
                        text-transform: capitalize;
                    }

                    &:hover{
                        background-color: lighten($color: $primary-color, $amount: 10);
                        transition: .3s ease;
                        transform: scale(99%);
                    }
    
                    &:active{
                        background-color: lighten($color: $primary-color, $amount: 20);
                        transition: .3s ease;
                        transform: scale(98%);
                    }
                }
            }
        }
    }
}
  